<form action="/add" method="post" class="container-md border p-3">
  <div class="mb-3">
    <label for="exampleInputText" class="form-label">Task to do...</label>
    <input
      type="text"
      name="todo"
      class="form-control"
      id="exampleInputText"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">add</button>
</form>
